.main
	section.item
		.item__mask.item__mask-blue
			h1.item__header.item__header-hideTide Fixies
			article.item__article Hisper style
			a(href='#').btn Choisir son modèle
		.ratio
			picture
				source(srcset='./img/large_img1.jpg' media='(min-width: 2880px)')
				source(srcset='./img/small_img1.jpg')
				img.item__img(alt='Fixies')
	section.item
		.item__mask.item__mask-lilac
			h1.item__header.item__header-dymaxionScript Cruisers
			article.item__article Hippie style
			a(href='#').btn Choisir son modèle
		.ratio
			picture
				source(srcset='./img/large_img2.jpg' media='(min-width: 2880px)')
				source(srcset='./img/small_img2.jpg')
				img.item__img(srcset='./img/small_img2.jpg' alt='Cruisers')