footer.footer
	.wrapper
		.footer__about
			.footer__logo Bikees.
			p.footer__text PAIEMENT 100% SECURISÉ - DONNÉES CRIPTÉES ET CHIFRÉES.
			p.footer__text.footer__text-underlined Livraison gratuite à partir de 50€ d’achat
			.footer__copyright ©BIKEES.2015
		.footer__links
			ul.menu.menu-footer
				li.menu__item
					a(href='javascript:void(0)') FIXIES
				li.menu__item
					a(href='javascript:void(0)') CRUISERS
				li.menu__item
					a(href='javascript:void(0)') ACCESSOIRES
				li.menu__item
					a(href='javascript:void(0)') MENTIONS
				li.menu__item
					a(href='javascript:void(0)') C.G.U
				li.menu__item
					a(href='javascript:void(0)') CONTACT
		.footer__contacts
			label.footer__subscribe Inscription Newsletter
				input(type='email' placeholder='Saisissez votre adresse mail')

			ul.social
				li
					a(href='javascript:void(0)').social__link.social__link-twitter
				li
					a(href='javascript:void(0)').social__link.social__link-google
				li
					a(href='javascript:void(0)').social__link.social__link-fb