.header
	.wrapper
		nav.header__menu
			ul.menu.menu-header
				li.menu__item
					a(href='javascript:void(0)') FIXIES
				li.menu__item
					a(href='javascript:void(0)') CRUISERS
				li.menu__item
					a(href='javascript:void(0)') ACCESSOIRES
				li.menu__item
					a(href='javascript:void(0)') MENTIONS
				li.menu__item
					a(href='javascript:void(0)') C.G.U
				li.menu__item
					a(href='javascript:void(0)') CONTACT
		.header__logo Bikees.
		form.search
			input.search__input(type='search')
			span.search__btn