html, body, table, form{
	color: #fff;
	font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body{
	background: #000;
	min-height: 1vh;
}

.canvas {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
}

/* 3ä ôîí */
#three_canvas {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

a, a:hover {
	color: #fff;
}
/* 
.container {
	background:url("/images/landing/7/ru/bg_texture.png") 50% 50% repeat;
	border-radius:16px;
	width:463px;
	min-height:383px;;
	position: relative;
	left: 50%;
	top: 320px;
	padding-top:68px;
}
.container .container-title {
	width:346px;height:29px;
	position:absolute;top:20px;left:50%;margin-left:-173px;
	background:url("/images/landing/7/ru/Choose-Race_word.png") 50% 50% no-repeat;
} */

.body_bg {
	/*background: url("/images/landing/7/ru/bg.jpg") top center no-repeat #000;*/
}
/* 
.container_bg {
	background: url("/images/landing/7/ru/Choose-Race_word.png") 50% 20px no-repeat;
}

.container .race{
	display: block;
	width: 225px;
	height: 362px;
	cursor: pointer;

	text-decoration: none;
}
.container .race.terran {
	float: left;
}
.container .race.zerg {
	float:right;
}
.container .race .colonize_strategy{
	display: none;
	text-align: center;
	line-height: 16px;
	padding: 0 25px;
}
.container .race:hover .colonize_strategy{
	display: block;
	margin-top: 365px;
	text-decoration: none;
}
.container .race.terran{
	background: url("/images/landing/7/ru/colonize_terran.png") top center no-repeat;
}
.container .race.terran:hover{
	background-image: url("/images/landing/7/ru/colonize_terran_raz.png");
	-webkit-filter: drop-shadow(0px 0px 25px rgb(50, 136, 168));
	filter: drop-shadow(0px 0px 25px rgb(50, 136, 168));
}
.container .race.zerg{
	background: url("/images/landing/7/ru/colonize_zerg.png") top center no-repeat;
}
.container .race.zerg:hover{
	background-image: url("/images/landing/7/ru/colonize_zerg_raz.png");
	-webkit-filter: drop-shadow(0px 0px 25px rgb(154, 124, 80));
	filter: drop-shadow(0px 0px 25px rgb(154, 124, 80));
}
.container .race:hover{
	margin-top: -15px;
	height: 715px;
} */
.logo {
	margin-top: 50px;

	cursor: pointer;
	display: block;
	height: 210px;
	
	position: relative;/* 
	left: 50%;
	top: 60px; */
	width: 530px;
	z-index: 2;
	overflow: hidden;
}
.logo a {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 210px;
	display: block;
}

.wrapper,.main{
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper{
	max-width: 960px;
	margin: 0 auto;
}

.main__title{
	font-size: 40px;
}

.main__text{
	font-size: 25px;
}

.main__btn{
	display: block;
	background-color: #3288AA;
	padding: 20px 30px;
	border-radius: 20px;
	font-size: 20px;
	margin-top: 25px;
	text-decoration: none;
}

.main__btn:hover{
	filter: drop-shadow(0px 0px 25px rgb(50, 136, 168));
}



@keyframes light {
	0% { left: -100%; }
	100% { left: 200%; }
}
@-moz-keyframes light {
	0% { left: -100%; }
	100% { left: 200%; }
}
@-webkit-keyframes light {
	0% { left: -100%; }
	100% { left: 200%; }
}
@-ms-keyframes light {
	0% { left: -100%; }
	100% { left: 200%; }
}
@-o-keyframes light {
	0% { left: -100%; }
	100% { left: 200%; }
}	/* animations */
.animated { -webkit-animation-duration:1s; -moz-animation-duration:1s; -o-animation-duration:1s; animation-duration:1s; }
.animated { -webkit-animation-fill-mode:both; -moz-animation-fill-mode:both; -o-animation-fill-mode:both; animation-fill-mode:both; }

/* fadeInRight */
@-webkit-keyframes fadeInRight {
	0% { opacity:0; -webkit-transform: translateX(60px); }
	100% { opacity:1; -webkit-transform:translateX(0); }
}
@-moz-keyframes fadeInRight {
	0% { opacity:0; -moz-transform:translateX(60px); }
	100% { opacity:1; -moz-transform:translateX(0); }
}
@-o-keyframes fadeInRight {
	0% { opacity:0; -o-transform:translateX(60px); }
	100% { opacity:1; -o-transform:translateX(0); }
}
@keyframes fadeInRight {
	0% { opacity:0; transform:translateX(60px); }
	100% { opacity:1; transform:translateX(0); }
}
.animated.fadeInRight { -webkit-animation-name:fadeInRight; -moz-animation-name:fadeInRight; -o-animation-name:fadeInRight; animation-name:fadeInRight; }

/* rotateFaded */
@-webkit-keyframes rotateFaded {
	0% { opacity:0; -webkit-transform:translateX(-60px); }
	100% { opacity:1; -webkit-transform:translateX(0); }
}
@-moz-keyframes rotateFaded {
	0% { opacity:0; -moz-transform:translateX(-60px); }
	100% { opacity:1; -moz-transform:translateX(0); }
}
@-o-keyframes rotateFaded {
	0% { opacity:0; -o-transform:translateX(-60px); }
	100% { opacity:1; -o-transform:translateX(0); }
}
@keyframes rotateFaded {
	0% { opacity:0; transform:translateX(-60px); }
	100% { opacity:1; transform:translateX(0); }
}
.animated.rotateFaded { -webkit-animation-name:rotateFaded; -moz-animation-name:rotateFaded; -o-animation-name:rotateFaded; animation-name:rotateFaded; }

/* ModalBox
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 1400ms ease-in;
	-moz-transition: opacity 1400ms ease-in;
	transition: opacity 1400ms ease-in;
	display: none;
	pointer-events: none;
	margin-left: -100px;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 20% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #101010;
	background: -moz-linear-gradient(#232323, #101010);
	background: -webkit-linear-gradient(#232323, #101010);
	background: -o-linear-gradient(#232323, #101010);
}

#openModal a {
	color: #3288AA;
	text-decoration: none;
}
#openModal a.backbtn {
	float: right;
	font-size: 14px;
	padding: 15px 0px;
}
#openModal a.nobtn {
	float: left;
	color: #ff3818;
	font-size: 14px;
	padding: 15px 0px;
}
#openModal a:hover {
	text-decoration: underline;
}

#openModal p {
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

#openModal a.close{
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	font-size: 13px;
}

#openModal a.close:hover { background: #ff3818; }

.clip-svg img {
	position: absolute;
}
.ie10 .clip-svg img {
	display:none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.clip-svg img {
		display:none;
	}
} */

@media all and (max-width:800px){
	/* body {min-width:560px;} */
	.body_bg {background-position:-18.7% 0;}
	.canvas {width: 100%;overflow:hidden;}
	#three_canvas {width: 100%;}
	.container {margin-left:-232px;}
	/* .logo {margin-left:-241px;} */
	.registration_count {margin-left:-255px;}
}
@media all and (min-width:801px){
	body {overflow-x: hidden;}
	.canvas {width: 150%;}
	#three_canvas {width: 150%;}
	.container {margin-left: -279px;}
	/* .logo {margin-left:-284px;} */
	.registration_count {margin-left:-304px;}
}

.clip {
	position: relative;/* 
	top:-18px;
	left:-24px; */
	width: 530px;
	height: 210px;
	background: url("../templates/Xcraft/images/landing7/ru/logo_sprite2.png");
}

@media all and (max-width:600px){
	.clip{
		position: relative;/* 
		top:-18px;
		left:-24px; */
		width: 280px;
		height: 122px;
		background-image: url("../templates/Xcraft/images/landing7/ru/logo.png");
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;

	}

	.logo, .logo a{
		width: 280px;
		height: 122px;
	}
}

/* @media all and (max-width:839px) and (max-height:778px) {
	.links-app {
		bottom:50px;right:5px;
	}
	.links-app a {
		display:block;margin-left:5px;float:right;
	}
	.links-app a:last-child {
		margin-left:0;
	}
}
@media all and (min-width:840px),
all and (min-height:779px){
	.links-app {
		bottom:5px;right:110px;
	}
	.links-app a {
		display:inline-block; margin-left:5px;
	}
} */